* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background:#fff;
    color: #000;
    line-height: 1.6;
    font-family:'NotoSans', 'Poppins';
  }
  ul, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    border:none;
    background:transparent;
    cursor:pointer;
  }
  input, textarea, button {
    font-family:'NotoSans', 'Poppins';
  }


  body.fixed {
    overflow:hidden;
  }