@use 'mixin' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    background:#fff;
    line-height: 1.6;
    font-family:'NotoSans', 'Poppins';
    font-size: 1rem;
    @include respond-to(md) {
      font-size: 1.125rem;
    }
    @include respond-to(lg) {
      font-size: 1.25rem;
    }
  }
  ul, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    border:none;
    background:transparent;
    cursor:pointer;
  }
  input, textarea, button {
    font-family:'NotoSans', 'Poppins';
  }


  body.fixed {
    overflow:hidden;
  }