@use 'mixin' as *;
@use './layout';
@use './stylesheet';

$bg-color-type1: #fff;
$bg-color-type2: #000;
$bg-color-type3: #d0f9db;
$bg-color-type4: #13df4a;

$text-color-type2: #fff; 
$text-color-type3: #13df4a; 

// common
.br{
  display:block;
  @include respond-to(lg) {
    display:inline-block;
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.App {
  width:100%;
  margin:0 auto;
  overflow:hidden
}
// header
.header {
  position:relative;
  width:100%;
  height:4rem;
    @include respond-to(lg) {
    height:4.25rem;
    }
  &__home {
    position:absolute;
    font-size:1.5rem;
    top:1rem;
    left:1rem;
    font-weight:bold;
    @include respond-to(lg) {
       font-size:1.875rem;
      top:1.875rem;
      left:2.5rem;
    }
  }
  &__menu {
    position:absolute;
    display:block;
    width:2rem;
    height:1.5rem;
    top:1rem;
    right:1rem;
    z-index:999;
    @include respond-to(lg) {
       width:2.9375rem;
      height:1.8125rem;
      margin-top:0.3125rem;
      top:1.875rem;
      right:2.5rem;
      z-index:999;
    }
    &:before, 
    &:after {
      position:absolute;
      content:'';
      display:inline-block;
      border-radius:0.625rem;
      height:0.4rem;
      background:$bg-color-type2;
      transition: all 0.3s;
      @include respond-to(lg) {
        height:0.5rem;
      }
    }
    &:after {
      width:1rem;
      bottom:0;
      right:0;
      @include respond-to(lg) {
        width:1.5rem;
      }
    }
    &:before {
      width:100%;
      top:0;
      left:0;
    }
    &.on {
      &:after,
      &:before {
        width:2rem;
        transition: all 0.3s;
        @include respond-to(lg) {
          width:2.9375rem;
        }
      }
      &:after {
        transform: rotate(45deg);
        top: 0.875rem;
      }
      &:before {
        transform: rotate(-45deg);
        top: 0.875rem;
      }
    }
  }
  .nav {
    position:fixed;
    visibility:hidden;
    width:100%;
    height:100%;
    background:$bg-color-type1;
    top:0;
    left:0;
    z-index:99;
    opacity:0;
    transition:all .3s;
    &.on {
      visibility: visible;
      opacity:1;
    }
    &__list {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      
      font-weight:900;
    }
    li a {
      font-size:3.5rem;
      @include respond-to(lg) {
       font-size:7.5rem;
      }
    }
  }
}
// main
.main {
  position:relative;
  &:after {
    content:'';
    display:block;
    background:#fff;
    position:absolute;
    width:100%;
    height:3.125rem;
    border-radius: 0 0 3.125rem 3.125rem;
    z-index:0;
  }
  section[class*="section"] {
    position:relative;
    height:100vh;
    z-index:1;

  }
  &__section1 {
    position:relative; 
    .title {
        font-size:4rem;
        line-height:1;
        text-transform:uppercase;
        padding:1rem;
        @include respond-to(lg) {         
        display:block;
         font-size:14.375rem;
         padding:2.5rem;
         white-space: nowrap;
        }
      }
    .box {
      position:absolute;
      width:100%;
      bottom:0;
      z-index:10;
      padding:0 1rem 3rem 1rem;
        @include respond-to(lg) {
         width:100%;
         padding:2.5rem;
        }
      &__txt {
        position:relative;
        font-size:2rem;
        line-height:1.5;
        font-weight:900;
        @include respond-to(lg) {
          font-size:5rem;
          margin-top:9.375rem;
        }
        &:before {
          content:'';
          display:block;
          width:22rem;
          height:20rem;
          margin:0 auto;
          background:$bg-color-type1 url(../assets/main/img_bird.png) no-repeat;background-size:100% auto;
          z-index:0;
          @include respond-to(lg) {
            position:absolute;
            width:48.3125rem;
            height:34.75rem;
            top:-14rem;
            right:6rem;
            left:auto;
            margin:auto;
      }
    }
      }
      .underline{
        position:relative;
        &:before {
          content:'';
          position:absolute;
          height:0.8rem;
          width:100%;
          display:block;
          top:50%;
          transform:translateY(-50%);
          background:$text-color-type3;
          border-radius:1.875rem;
          z-index:0;
          @include respond-to(lg) {
            height:2.25rem;
          }
        }
        u {
          position:relative;
          text-decoration:none;
          z-index:1;
          font-weight:900;
          left:0.4rem;
          @include respond-to(lg) {
          left:0.625rem;
          }
        }
      } 
      &__btn {
        position:relative;
        display:block;
        width:12rem;
        height:3rem;
        font-size:1.2rem;
        line-height:1;
        border-radius:3.125rem;
        color:#fff;
        background:#000;
        text-align:center;
        text-transform:uppercase;
        font-weight:900;
        margin-top:2rem;
        z-index:1;
        @include respond-to(lg) {
          width:15.1875rem;
          height:3.9375rem;
          font-size:1.5625rem;
          margin-top:3.75rem;
        }
      }
    }
  }
  &__section2 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    position:relative;
    background:#000;
    overflow:hidden;
    [class*="txt"] {
      color:#fff;
      display:none;
      z-index:999;
      font-weight:bold;
      font-size:2.1875rem;
      text-align:center;
      align-content: center;
     }
     .lst_keyword {
      white-space:nowrap;
      li {
        color:$text-color-type3;
        font-size:3.125rem;
        display:inline-block;
        margin:0 1.4375rem;
        font-weight:900;
      }
      &.left {
        position:absolute;top:1.25rem;
      }
      &.right {
        position:absolute;bottom:1.25rem;
      }
    } 
    .circle {
      position:absolute;
      display:flex;
      align-items:center;
      justify-content:center;
      background:$text-color-type3;
      width:6.25rem;
      height:6.25rem;
      border-radius:50%;
    }
    .circle2 {
      background:#000;
      width:3.125rem;
      height:3.125rem;
      border-radius:50%;
    }
  }
  &__section3 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    background:url(../assets/main/bg_sec3.png) no-repeat center fixed;
    background-size:cover;
    .tit {
      font-size:7.5rem;
      color:#fff;
      text-transform:uppercase;
      text-align:center;
      line-height:8.125rem;
      font-weight:900;
    }
    .txt {
      color:#fff;
      font-size:2.1875rem;
      margin-top:3.125rem;
      font-family:'NotoSans';
      font-weight:bold;
    }
    .btn {
      display:inline-block;
      width:5.4375rem;
      height:5.4375rem;
      background:url(../assets/main/btn_arrow.png) no-repeat 0 0;
      background-size:100% auto;
      margin-top:6.25rem;
    }
  }
  &__section4 {
    overflow:hidden;
    .tit {
      font-size:7.5rem;
      margin-top:3.125rem;
      text-transform:uppercase;
      text-align:center;
      font-weight:900;
    }
    .lst_project {
      display:flex;
      flex-flow:row;
      margin-top:3.125rem;
      li {
        margin-left:2.5rem;
        button {
          display:inline-block;
          width:28.125rem;
          height:37.5rem;
          background:#000;
          border-radius:3.125rem;
          .box {
            display:block;
            position:absolute;
            bottom:0;
            padding:3.75rem 2.5rem;
            text-align:left;
            .title1 {
              display:block;
              color:#fff;          
              font-size:2.5rem;
              font-weight:bold;
              text-transform:uppercase;
              word-break:break-all;
            }
            .title2 {
              display:block;
              color:#fff;
              font-size:1.25rem;
            }
          }
        }

      }
    }
  }
}

.footer {
  background:#000;
  padding:9.375rem 2.5rem 6.25rem;
  &__info{
    overflow:hidden;
    dt {
      float:left;
      clear:both;
      color:#fff;
      font-size:3.75rem;
      font-weight:900;
    }
    dd {
      float:left;
      color:#fff;
      font-size:3.75rem;
      margin-left:2.5rem;
      font-weight:900;
    }
    a {
      color:#fff;
      font-size:3.75rem;
    }
  }
  &__copy {
    margin-top:6.25rem;
    font-size:1.5625rem;
    color:#fff;
    font-weight:bold;
  }
}

// about
.about {
  &:after {
    content:'';
    display:block;
    background:#13df4a;
    position:absolute;
    width:100%;
    height:3.125rem;
    border-radius: 0 0 3.125rem 3.125rem;
    z-index:0;
  }
  &__section1 {
    position:relative;
    height:100vh;
    z-index:1;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    background:url(../assets/page/bg_about.jpg) no-repeat center fixed;
    background-size:cover;
    .box {
      text-align:center;
      &__tit1 {
        display:inline-block;
        color:#fff;
        font-size:1.5625rem;
        text-transform:uppercase;
        border-radius:3.125rem;
        border:0.0625rem solid #fff;
        padding:0.625rem 1.875rem 0.3125rem;
        font-weight:bold;
      }
      &__tit2 {
        color:#fff;
        font-size:9.375rem;
        margin-top:3.125rem;
      }
      &__btn {
        width:5.4375rem;
        height:5.4375rem;
        background:url(../assets/page/btn_scroll.png) no-repeat;
        margin-top:6.25rem;
      }
    }
  }
  &__section2 {
    padding:18.75rem 0;
    background:$bg-color-type3;
    .history {
      display:flex;
      flex-flow:row;
      justify-content:center;
      background:url(../assets/page/bg_dotted.png) repeat-x;
      margin:0 2.5rem;
      dl {
        flex:1;
        position:relative;
        padding-top:3.75rem;
        text-align:center;
        dt {
          font-size:4.375rem;
          cursor:pointer;
          font-weight:900;
          &:before {
            content:'';
            position:absolute;
            top:-0.625rem;
            left:0;
            right:0;
            margin:0 auto;
            display:inline-block;
            width:1.25rem;
            height:1.25rem;
            border-radius:50%;
            background:#13df4a;
            border:0.3125rem solid #fff;
          }
        }
        dd {
          position:absolute;
          text-align:left;
          display:flex;
          flex-flow:column;
          justify-content:center;
          height:12.5rem;
          padding:1.875rem;
          top:-100%;
          left:0;
          right:0;
          margin:-4.375rem auto 0;
          background:#fff;
          border-radius:1.25rem;
          visibility: hidden;
          opacity:0;
          transition:all .3s;
          h3 {
            color:#13df4a;
            font-size:1.625rem;
            font-weight:900;
          }
          p {
            font-size:1.75rem;
            line-height:2.5rem;
            margin-top:1.25rem;
            font-family:'NotoSans';
            
          }
        }
        dd.on {
          visibility:visible;
          opacity:1;
          transition:all .3s; 
        }
      }
    }
  }
  &__section3 {
    padding:0 0 15.625rem 0;
    background:$bg-color-type3;
    .skill {
      padding:0 2.5rem;
      margin:0 auto;
      display:flex;
      flex-flow:row;
      gap:3.125rem;
      li {
        background:#fff;
        border-radius:3.125rem;
        padding:3.125rem;
        flex:1;
        span {
          border-radius:50%;
          background:$bg-color-type3;
          display:inline-block;
          width:3.75rem;
          height:3.75rem;
          line-height:4.375rem;
          font-size:1.5625rem;
          text-align:center;
          font-weight:bold;
        }
        h3 {
          font-size:2.1875rem;
          font-family:'NotoSans';
          margin-top:3.125rem;
        }
        p {
          font-size:1.75rem;
          font-family:'NotoSans';
          margin-top:1.25rem;
        }
      }
    }   
  }
  &__section4 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    padding:0 0 6.25rem 0;
    background:$bg-color-type3;
    .tit1 {
      text-align:center;
      font-size:7.5rem;
      line-height:8.125rem;
      font-weight:900;
    }
    .tit2 {
      font-size:3.75rem;
      text-align:center;
      font-weight:bold;
      margin-top:3.125rem;
    }
    .box {
      width:62.5rem;
      background:#fff;
      border-radius:3.125rem;
      text-align:center;
      padding:6.25rem 0;
      margin:6.25rem auto 0;
      h4 {
        font-size:5rem;
        line-height:5rem;
        font-weight:900;
      }
      .count {
        display:flex;
        flex-flow:row;
        align-items:center;
        justify-content:center;
        gap:0.625rem;
        margin-top:3.125rem;
        span {
          display:inline-block;
          font-size:15.625rem;
          line-height:15.625rem;
          border-radius:3.125rem;
          background:#000;
          padding:4.375rem 1.875rem 0;
          margin:0 0.625rem;
          color:#fff;
          font-weight:bold;
        }
      }
      p {
        font-size:2.5rem;
        line-height:3.125rem;
        margin-top:3.125rem;
        font-weight:bold;
      }
    }
  }
  &__section5 {
    padding:12.5rem 0 12.5rem;
    background:$bg-color-type3;
    &:before {
      content:'';
      display:block;
      width:50.75rem;
      height:36.875rem;
      background:url(../assets/page/img_bird.png) no-repeat;
      margin:0 auto;
    }
    .tit1 {
        font-size:7.5rem;
        line-height:7.5rem;
        text-align:center;
        margin-top:12.5rem;
        font-weight:900;
    }
    .tbl {
      width:62.5rem;
      margin:6.25rem auto 0;
      border-top:0.1875rem solid #000;
      border-bottom:0.1875rem solid #000;
      &__tr {
        display:flex;
        flex-flow:row;
        border-bottom:0.1875rem dotted #000;
        dt, dd {
          padding:1.25rem 0 0.625rem 2.5rem;
        }
        dt {
          font-size:2.1875rem;
          width:30%;
          font-weight:bold;
        }
        dd {
          font-size:1.875rem;
        
        }
        &:last-child {
          border-bottom:0;
        }
      }
    }
  }
  &__section6 {
    height:100vh;
    background: $bg-color-type4;
    text-align:center;
    display:flex;
    flex-flow:column;
    justify-content:center;
    .tit {
      color:#fff;
      font-size:4.375rem;
      line-height:6.25rem;
    }
    .txt {
      color:#fff;
      font-size:2.1875rem;
      line-height:4.375rem;
      font-family:'NotoSans';
      font-weight:bold;
      margin-top:3.125rem;
    }
  }
}

.contact {
  display:flex;
  flex-flow:row;
  flex:1;
  padding:5rem 2.5rem;
  &__title {
    width:50%;
    .tit {
      font-size:7.5rem;
      line-height:7.5rem;
    }
    .txt {
      font-size:2.5rem;
    }
  }
  &__form {
    display:flex;
    flex-flow:column;
    width:50%;
    form {
    }
    div {
      margin-top:1.875rem;
      &:first-child {
        margin-top:0;
      }
      input {
        width:100%;
        border:none;
        background:$bg-color-type3;
        font-size:1.875rem;
        line-height:1.875rem;
        padding:2.1875rem 2.5rem 1.875rem;
        border-radius:3.125rem;
        outline:none;
        &::placeholder {
          color:#71d38c;
          font-weight:bold;
        }
      }
      textarea {
        box-sizing: border-box;
        width:100%;
        border:none;
        background:$bg-color-type3;
        height:25rem;
        font-size:1.875rem;
        line-height:2.5rem;
        padding:2.5rem;
        border-radius:3.125rem;
        outline:none;
        &::placeholder {
          color:#71d38c;
          font-weight:bold;
        }
      }
      p {
        font-size:1.25rem;
        font-family:'NotoSans';
        padding:1.25rem;
        color:red;
        font-weight:bold;
      }
    }
    
    button {
      background:$bg-color-type4;
      font-size:1.875rem;
      border-radius:3.125rem;
      height:6.25rem;
      width:100%;
      color:#fff;
      font-weight:900;
      margin-top:3.125rem;
    }
  }
}
.experience {
  padding:6.25rem 2.5rem;
  .title {
    font-size:9.375rem;
    text-align:center;
  }
  .list {
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    gap:3.125rem;
    margin-top:3.125rem;
    li {
      width:30%;
      height:43.75rem;
        button {
          position:relative;
          width:100%;
          height:100%;
          border-radius:3.125rem;
        }
          .box {
            display:block;
            position:absolute;
            bottom:0;
            padding:3.75rem 2.5rem;
            text-align:left;
            .title1 {
              display:block;
              color:#fff;          
              font-size:2.5rem;
              font-weight:bold;
              text-transform:uppercase;
              word-break:break-all;
            }
            .title2 {
              display:block;
              color:#fff;
              font-size:1.25rem;
            }
          }
        }
      }
    }

.ExpPage {
  padding:6.25rem 2.5rem;
  text-align:center;
  .title1 {
    font-size:7.5rem;
    font-weight:bold;
    line-height:1;
    text-transform:uppercase;
   }
   .title2 {
    font-size:3.125rem;
    line-height:1;
    margin-top:1.875rem;
   }
   .info {
    display:flex;
    justify-content: center;
    margin-top:3.125rem;
    gap:0.625rem;
      li {
        border:0.0625rem solid #000;
        border-radius:1.875rem;
        padding:0.625rem 1.875rem 0.5rem;
        font-size:1.25rem;
        strong {
          margin-right:1.25rem;
        }
      }
   }
   .img {
    margin-top:3.125rem;
    img {
      width:100%;
      border-radius:3.125rem;
    }
   }
   .description {
      font-size:1.25rem;
      margin-top:3.125rem;
      white-space: pre-wrap;
      font-family:'NotoSans';
   }

}
.emptyPage {
  padding:12.5rem 3.125rem;
  text-align:center;
  p {
    font-size:2.1875rem;
  }
  button {

    border-radius:3.125rem;
    background:#000;
    color:#fff;
    padding:1.25rem 3.125rem;
    font-size:1.25rem;
    font-weight:bold;
    margin-top:3.125rem;
  }
}
