@use './layout';
@use './stylesheet';

$bg-color-type1: #fff;
$bg-color-type2: #000;
$bg-color-type3: #d0f9db;
$bg-color-type4: #13df4a;

$text-color-type2: #fff; 
$text-color-type3: #13df4a; 

.br{display:block;}
.hidden{visibility:hidden;}
// header
.header {
  position:relative;
  height:100px;
  width:100%;
  &__home {
    position:absolute;
    font-size:30px;
    top:30px;
    left:40px;
    font-weight:bold;
  }
  &__menu {
    position:absolute;
    display:block;
    width:47px;
    height:29px;
    margin-top:5px;
    top:30px;
    right:40px;
    z-index:999;
    &:before, 
    &:after {
      position:absolute;
      content:'';
      display:inline-block;
      border-radius:10px;
      height:8px;
      background:$bg-color-type2;
      transition: all 0.3s;
    }
    &:after {
      width:24px;
      bottom:0;
      right:0;
    }
    &:before {
      width:100%;
      top:0;
      left:0;
    }
    &.on {
      &:after,
      &:before {
        width:47px;
        transition: all 0.3s;
      }
      &:after {
        transform: rotate(45deg);
        top: 14px;
      }
      &:before {
        transform: rotate(-45deg);
        top: 14px;
      }
    }
  }
  .nav {
    position:fixed;
    visibility:hidden;
    width:100%;
    height:100%;
    background:$bg-color-type1;
    top:0;
    left:0;
    z-index:99;
    opacity:0;
    transition:all .3s;
    &.on {
      visibility: visible;
      opacity:1;
    }
    &__list {
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      left:20%;
      font-weight:900;
    }
    li a {
      font-size:120px;
    }
  }
}
// main
.main {
  position:relative;
  &:after {
    content:'';
    display:block;
    background:#fff;
    position:absolute;
    width:100%;
    height:50px;
    border-radius: 0 0 50px 50px;
    z-index:0;
  }
  section[class*="section"] {
    position:relative;
    height:100vh;
    z-index:1;

  }
  &__section1 {
    position:relative; 
    &:before {
      content:'';
      position:relative;
      display:block;
      width:773px;
      height:556px;
      background:$bg-color-type1 url(../assets/main/img_bird.png) no-repeat;background-size:100% auto;
      position:absolute;
      top:280px;
      right:100px;
      z-index:0;
    }
    .box {
      position:relative;
      padding:40px;
      z-index:10;
      &__tit {
        font-size:230px;
        text-transform:uppercase;
        white-space:nowrap;
        line-height:230px;
        font-weight:bold;
      }
      &__txt {
        font-size:80px;
        position:relative;
        display:inline-block;
        margin-top:150px;
        line-height:100px;
        font-weight:900;
      }
      .underline{
        position:relative;
        &:before {
          content:'';
          position:absolute;
          width:100%;
          height:36px;
          width:100%;
          display:block;
          top:50%;
          transform:translateY(-50%);
          background:$text-color-type3;
          z-index:0;
          border-radius:30px;
          z-index:0
        }
        u {
          position:relative;
          text-decoration:none;
          z-index:1;
          left:10px;
          font-weight:900;
        }
      } 
      &__btn {
        display:block;
        width:243px;
        height:63px;
        font-size:25px;
        background:#000;
        margin-top:60px;
        border-radius:50px;
        color:#fff;
        line-height:67px;
        text-align:center;
        text-transform:uppercase;
        font-weight:900;
      }
    }
  }
  &__section2 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    position:relative;
    background:#000;
    overflow:hidden;
    [class*="txt"] {
      color:#fff;
      display:none;
      z-index:999;
      font-weight:bold;
      font-size:35px;
      text-align:center;
      align-content: center;
     }
     .lst_keyword {
      white-space:nowrap;
      li {
        color:$text-color-type3;
        font-size:50px;
        display:inline-block;
        margin:0 23px;
        font-weight:900;
      }
      &.left {
        position:absolute;top:20px;
      }
      &.right {
        position:absolute;bottom:20px;
      }
    } 
    .circle {
      position:absolute;
      display:flex;
      align-items:center;
      justify-content:center;
      background:$text-color-type3;
      width:100px;
      height:100px;
      border-radius:50%;
    }
    .circle2 {
      background:#000;
      width:50px;
      height:50px;
      border-radius:50%;
    }
  }
  &__section3 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    background:url(../assets/main/bg_sec3.png) no-repeat center fixed;
    background-size:cover;
    .tit {
      font-size:120px;
      color:#fff;
      text-transform:uppercase;
      text-align:center;
      line-height:130px;
      font-weight:900;
    }
    .txt {
      color:#fff;
      font-size:35px;
      margin-top:50px;
      font-family:'NotoSans';
      font-weight:bold;
    }
    .btn {
      display:inline-block;
      width:87px;
      height:87px;
      background:url(../assets/main/btn_arrow.png) no-repeat 0 0;
      background-size:100% auto;
      margin-top:100px;
    }
  }
  &__section4 {
    overflow:hidden;
    .tit {
      font-size:120px;
      margin-top:50px;
      text-transform:uppercase;
      text-align:center;
      font-weight:900;
    }
    .lst_project {
      display:flex;
      flex-flow:row;
      margin-top:50px;
      li {
        margin-left:40px;
        a {
          display:inline-block;
          width:400px;
          height:520px;
          background:#000;
          border-radius:50px;
        }
      }
    }
  }
}

.footer {
  background:#000;
  padding:150px 40px 100px;
  &__info{
    overflow:hidden;
    dt {
      float:left;
      clear:both;
      color:#fff;
      font-size:60px;
      font-weight:900;
    }
    dd {
      float:left;
      color:#fff;
      font-size:60px;
      margin-left:40px;
      font-weight:900;
    }
    a {
      color:#fff;
      font-size:60px;
    }
  }
  &__copy {
    margin-top:100px;
    font-size:25px;
    color:#fff;
    font-weight:bold;
  }
}

// about
.about {
  &:after {
    content:'';
    display:block;
    background:#13df4a;
    position:absolute;
    width:100%;
    height:50px;
    border-radius: 0 0 50px 50px;
    z-index:0;
  }
  &__section1 {
    position:relative;
    height:100vh;
    z-index:1;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    background:url(../assets/page/bg_about.jpg) no-repeat center fixed;
    background-size:cover;
    .box {
      text-align:center;
      &__tit1 {
        display:inline-block;
        color:#fff;
        font-size:25px;
        text-transform:uppercase;
        border-radius:50px;
        border:1px solid #fff;
        padding:10px 30px 5px;
        font-weight:bold;
      }
      &__tit2 {
        color:#fff;
        font-size:150px;
        margin-top:50px;
      }
      &__btn {
        width:87px;
        height:87px;
        background:url(../assets/page/btn_scroll.png) no-repeat;
        margin-top:100px;
      }
    }
  }
  &__section2 {
    padding:300px 0;
    background:$bg-color-type3;
    .history {
      display:flex;
      flex-flow:row;
      justify-content:center;
      background:url(../assets/page/bg_dotted.png) repeat-x;
      margin:0 40px;
      dl {
        flex:1;
        position:relative;
        padding-top:60px;
        text-align:center;
        dt {
          font-size:70px;
          cursor:pointer;
          font-weight:900;
          &:before {
            content:'';
            position:absolute;
            top:-10px;
            left:0;
            right:0;
            margin:0 auto;
            display:inline-block;
            width:20px;
            height:20px;
            border-radius:50%;
            background:#13df4a;
            border:5px solid #fff;
          }
        }
        dd {
          position:absolute;
          text-align:left;
          display:flex;
          flex-flow:column;
          justify-content:center;
          height:200px;
          padding:30px;
          top:-100%;
          left:0;
          right:0;
          margin:-70px auto 0;
          background:#fff;
          border-radius:20px;
          visibility: hidden;
          opacity:0;
          transition:all .3s;
          h3 {
            color:#13df4a;
            font-size:26px;
            font-weight:900;
          }
          p {
            font-size:28px;
            line-height:40px;
            margin-top:20px;
            font-family:'NotoSans';
            
          }
        }
        dd.on {
          visibility:visible;
          opacity:1;
          transition:all .3s; 
        }
      }
    }
  }
  &__section3 {
    padding:0 0 250px 0;
    background:$bg-color-type3;
    .skill {
      padding:0 40px;
      margin:0 auto;
      display:flex;
      flex-flow:row;
      gap:50px;
      li {
        background:#fff;
        border-radius:50px;
        padding:50px;
        flex:1;
        span {
          border-radius:50%;
          background:$bg-color-type3;
          display:inline-block;
          width:60px;
          height:60px;
          line-height:70px;
          font-size:25px;
          text-align:center;
          font-weight:bold;
        }
        h3 {
          font-size:35px;
          font-family:'NotoSans';
          margin-top:50px;
        }
        p {
          font-size:28px;
          font-family:'NotoSans';
          margin-top:20px;
        }
      }
    }   
  }
  &__section4 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    padding:0 0 100px 0;
    background:$bg-color-type3;
    .tit1 {
      text-align:center;
      font-size:120px;
      line-height:130px;
      font-weight:900;
    }
    .tit2 {
      font-size:60px;
      text-align:center;
      font-weight:bold;
      margin-top:50px;
    }
    .box {
      width:1000px;
      background:#fff;
      border-radius:50px;
      text-align:center;
      padding:100px 0;
      margin:100px auto 0;
      h4 {
        font-size:80px;
        line-height:80px;
        font-weight:900;
      }
      .count {
        display:flex;
        flex-flow:row;
        align-items:center;
        justify-content:center;
        gap:10px;
        margin-top:50px;
        span {
          display:inline-block;
          font-size:250px;
          line-height:250px;
          border-radius:50px;
          background:#000;
          padding:70px 30px 0;
          margin:0 10px;
          color:#fff;
          font-weight:bold;
        }
      }
      p {
        font-size:40px;
        line-height:50px;
        margin-top:50px;
        font-weight:bold;
      }
    }
  }
  &__section5 {
    padding:200px 0 200px;
    background:$bg-color-type3;
    &:before {
      content:'';
      display:block;
      width:812px;
      height:590px;
      background:url(../assets/page/img_bird.png) no-repeat;
      margin:0 auto;
    }
    .tit1 {
        font-size:120px;
        line-height:120px;
        text-align:center;
        margin-top:200px;
        font-weight:900;
    }
    .tbl {
      width:1000px;
      margin:100px auto 0;
      border-top:3px solid #000;
      border-bottom:3px solid #000;
      &__tr {
        display:flex;
        flex-flow:row;
        border-bottom:3px dotted #000;
        dt, dd {
          padding:20px 0 10px 40px;
        }
        dt {
          font-size:35px;
          width:30%;
          font-weight:bold;
        }
        dd {
          font-size:30px;
        
        }
        &:last-child {
          border-bottom:0;
        }
      }
    }
  }
  &__section6 {
    height:100vh;
    background: $bg-color-type4;
    text-align:center;
    display:flex;
    flex-flow:column;
    justify-content:center;
    .tit {
      color:#fff;
      font-size:70px;
      line-height:100px;
    }
    .txt {
      color:#fff;
      font-size:35px;
      line-height:70px;
      font-family:'NotoSans';
      font-weight:bold;
      margin-top:50px;
    }
  }
}

.contact {
  display:flex;
  flex-flow:row;
  flex:1;
  padding:80px 40px;
  &__title {
    width:50%;
    .tit {
      font-size:120px;
      line-height:120px;
    }
    .txt {
      font-size:40px;
    }
  }
  &__form {
    display:flex;
    flex-flow:column;
    width:50%;
    form {
    }
    div {
      margin-top:30px;
      &:first-child {
        margin-top:0;
      }
      input {
        width:100%;
        border:none;
        background:$bg-color-type3;
        font-size:30px;
        line-height:30px;
        padding:35px 40px 30px;
        border-radius:50px;
        outline:none;
        &::placeholder {
          color:#71d38c;
          font-weight:bold;
        }
      }
      textarea {
        box-sizing: border-box;
        width:100%;
        border:none;
        background:$bg-color-type3;
        height:400px;
        font-size:30px;
        line-height:30px;
        padding:40px;
        border-radius:50px;
        outline:none;
        &::placeholder {
          color:#71d38c;
          font-weight:bold;
        }
      }
      p {
        font-size:20px;
        font-family:'NotoSans';
        padding:20px;
        color:red;
        font-weight:bold;
      }
    }
    
    button {
      background:$bg-color-type4;
      font-size:30px;
      border-radius:50px;
      height:100px;
      width:100%;
      color:#fff;
      font-weight:900;
      margin-top:50px;
    }
  }
}