@font-face {
    font-family: 'NotoSans';
    src: url('font/NotoSansKR-Thin.woff2') format('woff2'),
        url('font/NotoSansKR-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('font/NotoSansKR-Light.woff2') format('woff2'),
        url('font/NotoSansKR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('font/NotoSansKR-Medium.woff2') format('woff2'),
        url('font/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('font/NotoSansKR-Bold.woff2') format('woff2'),
        url('font/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('font/NotoSansKR-Black.woff2') format('woff2'),
        url('font/NotoSansKR-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Medium.woff2') format('woff2'),
        url('font/Poppins-Medium.woff') format('woff');
    font-weight:300;
    font-style: normal;
    font-display: swap;
    
}
@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Bold.woff2') format('woff2'),
        url('font/Poppins-Bold.woff') format('woff');
    font-weight:bold;
    font-style: normal;
    font-display: swap;
    
}
@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-ExtraBold.woff2') format('woff2'),
        url('font/Poppins-ExtraBold.woff') format('woff');
    font-weight:900;
    font-style: normal;
    font-display: swap;
    
}
